.form-label {
    margin: 10px 0;
    width: 357px;
}

.form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  

    display: flex;
    align-items: center;
    text-transform: capitalize;


 
}
.form .col-2{
    float: left;
}
.form .col-1{
    clear: both;    
}
.form .maringRight{
    margin-right: 50px;
}
label{
     color: #3F606F;
    
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form .maringRight{
        margin-right: 0;
    }
    .form-label {      
        width: 100%;
    }
}  

