body{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  background: #F5F5F5;
  box-sizing: border-box;
}
.main{
  display: flex;
}
.left-container{
  width: 14%;
  padding: 30px;
}
.right-container{
  width: 86%;  
}
.aside-container{
  display: flex;
  
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 
.main{
  display: block;
}
.left-container,.right-container{
  width: 100%;
}
.left-container{
  display: none;
}

.aside-container{
  display: block;
  
}
}
